
.rise{
   display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.text-rise{
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
button{
     font-weight: 400px;
    font-size: 12px;   
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    background: #F0E71433;
    border: none;
    padding: 10px 35px;
    border-radius: 100px;
    margin-top: 20px;
}
h2{
font-weight: 600;
font-size: 44px;
margin-top: 10px;

}
p{
font-weight: 200;
font-size: 20px;
letter-spacing: 0%;
color: #555c68b7;
margin-top: 10px;
}

    }
.btn-lft{
    button{
   font-weight: 400px;
    font-size: 12px;   
    letter-spacing: 1px;
    color: #F0E714;
    background: #24272E;
    border: none;
    padding: 10px 35px;
    border-radius: 100px;
    margin-top: 20px;
    }
}
.hero{
  padding: 70px;
  display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text{
  padding: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
button{
   font-weight: 400px;
    font-size: 16px;   
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    background: #F0E71433;
    border: none;
    padding: 10px 35px;
    border-radius: 100px;
    margin-top: 20px;
}
h1{
  font-weight:600px ;
font-size: 30px;
margin-top: 9px;
}
p{
  font-weight: 200;
font-size: 20px;
letter-spacing: 0%;
color: #555c68b7;
margin-top: 10px;
}
}
.hero-struktur {
  padding: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.structur {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.text h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -1.1%;
  margin-bottom: 6px;
}

.text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #555C68;
}
